packages
bin
obj
output
tools
!tools/
tools/*
!tools/e2e/
tools/e2e/*
!tools/e2e/run-firebase-foundation.sh
tmp-nugets
*.userprefs
*.DS_Store
Pods/
build
.vs/
.idea/
*.framework
_._
externals
artifacts
*.user
GoogleService-Info.plist
!tests/E2E/Firebase.Foundation/FirebaseFoundationE2E/GoogleService-Info.plist
